<!-- <link rel="stylesheet" href="http://dropthebit.com/demos/photobox/styles.css"> -->
<link rel="stylesheet" href="http://dropthebit.com/demos/photobox/photobox/photobox.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://dropthebit.com/demos/photobox/photobox/jquery.photobox.js"></script>
<script src="http://dropthebit.com/demos/photobox/main.js"></script>

<header id="header">
    <div class="top-bar">
      <div class="row">
        <div class="col-md-1 pull-left">
          <a href="http://www.facebook.com/sharer.php?u=https://beta-simplelife.herokuapp.com">
            <img src="/assets/share-facebook.png"/></a>
          <a href="http://twitter.com/share?text=An%20Awesome%20Link&url=https://beta-simplelife.herokuapp.com">
            <img src="/assets/share-twitter.png"/></a>
          </a>
        </div>
      </div>
    </div>
    <!--  -->
    <nav class="navbar navbar-inverse" role="banner">
      <div class="top-number">
        <p class="webname">&nbsp;<a href="javascript:void();">Simple Life</a></p>
      </div>
      <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
              <li><a href="javascript:void();">Trang Chủ </a></li>
              <li class="active"><a href="javascript:void();">Âm Nhạc</a></li>
              <li><a href="javascript:void();">Kiến Thức-Cuộc Sống</a></li>
              <li><a href="javascript:void();">Giải Trí-Tổng Hợp</a></li>
          </ul>
      </div>
    </nav>
</header><!--/header-->

<!--  -->
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8 pull-left">
      <audio id="aud" controls autoplay onended="mEnd()" onerror="mError()"></audio>
    </div>
    <div class="col-md-4 pull-right">
      <%= form_tag("/musics", method: "get") do %>
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Tìm kiếm.." name="keywords">
              <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i>♫</i></button>
              </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<!--  -->
<br>
<%- size = 1 -%>
<%if @songs.present?%>
  <%- total = @songs.count
      size = total if total <= 9
      size = 9 if total > 9
      song_index = 1
  -%>
  <div class="container">
    <div class="row">
      <div class="fadeInDown styled-select">
        <select id="ML" name="MusicList" size="<%=size%>" class="col-md-12 wow fadeInDown" style="padding:0px" onclick="MusicLoad(this.selectedIndex);">
          <% @songs.each do |song| %>
            <option value=<%=song.src%>>
            <%= song_index %>.<%=song.name%> | <%=song.album.present? ? song.album : "Album: Chưa biết tên" %> | <%=song.singer%></option>
            <% song_index += 1 %>
          <%end%>
        </select>
      </div>
    </div>
  </div>
  <br>
<%end%>
<!--  -->

<section id="feature">
  <div class="container">
    <div class="row">
       <div class="col-md-12">
            <h3 class="webname"><a href="javascript:void();">Top Singers</a></h3>
            <h3>Chẳng ngôn ngữ nào êm dịu và trầm lắng cho bằng ngôn ngữ của thi ca. Chẳng âm điệu nào thiết tha cho bằng cung thanh trầm của khúc nhạc...</h3>
        </div>
    </div>
  </div>

  <!--  -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="SingerSlider" class="carousel slide" data-interval="3000" data-ride="carousel">
          <div class="carousel-inner">
              <div class="active item">
                <div class="carousel-caption">
                  <h3>Đan Trường</h3>
                  <a href="/musics?keywords=Đan Trường"><img class="" style="height: 300px;" src="/assets/casi/dantruong.jpg"></a>
                </div>
              </div>
              <div class="item">
                  <div class="carousel-caption">
                    <h3>Lam Trường</h3>
                    <a href="/musics?keywords=Lam Trường"><img class="" style="height: 300px;" src="/assets/casi/lamtruong.jpg"></a>
                  </div>
              </div>
              <div class="item">
                  <div class="carousel-caption">
                    <h3>Bằng Kiều</h3>
                    <a href="/musics?keywords=Bằng Kiều"><img class="" style="height: 300px;" src="/assets/casi/bangkieu.jpg"></a>
                  </div>
              </div>
              <div class="item">
                  <div class="carousel-caption">
                    <h3>Tuấn Hưng</h3>
                    <a href="/musics?keywords=Tuấn Hưng"><img class="" style="height: 300px;" src="/assets/casi/tuanhung.jpg"></a>
                  </div>
              </div>
              <div class="item">
                  <div class="carousel-caption">
                    <h3>Vân Quang Long</h3>
                    <a href="/musics?keywords=Vân Quang Long"><img class="" style="height: 300px;" src="/assets/casi/vanquanglong.jpg"></a>
                  </div>
              </div>
              <div class="item">
                  <div class="carousel-caption">
                    <h3>Thùy Chi</h3>
                    <a href="/musics?keywords=Thùy Chi"><img class="" style="height: 300px;" src="/assets/casi/thuychi.jpg"></a>
                  </div>
              </div>
              <div class="item">
                  <div class="carousel-caption">
                    <h3>Đông Nhi</h3>
                    <a href="/musics?keywords=Đông Nhi"><img class="" style="height: 300px;" src="/assets/casi/dongnhi.jpg"></a>
                  </div>
              </div>
              <div class="item">
                  <div class="carousel-caption">
                    <h3>Thủy Tiên</h3>
                    <a href="/musics?keywords=Thủy Tiên"><img class="" style="height: 300px;" src="/assets/casi/thuytien.jpeg"></a>
                  </div>
              </div>
              <div class="item">
                  <div class="carousel-caption">
                    <h3>Nhật Thy</h3>
                    <a href="/musics?keywords=Nhật Thy"><img class="" style="height: 300px;" src="/assets/casi/nhatthy.jpg"></a>
                  </div>
              </div>
              <div class="item">
                  <div class="carousel-caption">
                    <h3>Quang Lê</h3>
                    <a href="/musics?keywords=Quang Lê"><img class="" style="height: 300px;" src="/assets/casi/quangle.jpg"></a>
                  </div>
              </div>
              <div class="item">
                  <div class="carousel-caption">
                    <h3>Phi Nhung</h3>
                    <a href="/musics?keywords=Phi Nhung"><img class="" style="height: 300px;" src="/assets/casi/phinhung.jpg"></a>
                  </div>
              </div>
              <div class="item">
                  <div class="carousel-caption">
                    <h3>Đàm Vĩnh Hưng</h3>
                    <a href="/musics?keywords=Đàm Vĩnh Hưng"><img class="" style="height: 300px;" src="/assets/casi/damvinhhung.jpg"></a>
                  </div>
              </div>
              <div class="item">
                  <div class="carousel-caption">
                    <h3>T-ARA</h3>
                    <a href="/musics?keywords=T-ARA"><img class="" style="height: 300px;" src="/assets/casi/tara.jpg"></a>
                  </div>
              </div>
          </div>

          <div class="carousel-caption">
            <h3>Chọn ca sĩ yêu thích..</h3>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#SingerSlider" data-slide="prev">
              <span>◄</span>
          </a>
          <a class="carousel-control right" href="#SingerSlider" data-slide="next">
              <span>►</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <br>
  <div class="container" style="background-color: white;">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p><h3 class="webname"><a href="javascript:void();">Song Categories</a></h3></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <h3><a href="/musics?keywords=Nhạc+Trẻ">
          <img class="recent-work-inner" style="height:100px;width:100px" src="/assets/music/tuoitre.jpeg">
          <br>Nhạc Trẻ</a></h3>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h3><a href="/musics?keywords=Quê+Hương">
          <img class="recent-work-inner" style="height:100px;width:100px" src="/assets/music/nhac_que_huong.jpeg">
          <br>Nhạc Quê Hương</a></h3>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-6 col-sm-3">
        <h3><a href="/musics?keywords=Trữ+Tình">
          <img class="recent-work-inner" style="height:100px;width:100px" src="/assets/music/nhac_tru_tinh.jpeg">
          <br>Nhạc Trữ Tình</a></h3>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h3><a href="/musics?keywords=Âu+Mỹ">
          <img class="recent-work-inner" style="height:100px;width:100px" src="/assets/music/nhac_au_my.jpeg">
          <br>Nhạc Âu Mỹ</a></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <h3><a href="/musics?keywords=Nhạc+Hoa">
          <img class="recent-work-inner" style="height:100px;width:100px" src="/assets/music/nhac_hoa.jpeg">
          <br>Nhạc Hoa</a></h3>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h3><a href="/musics?keywords=Hàn+Quốc">
          <img class="recent-work-inner" style="height:100px;width:100px" src="/assets/music/nhac_han.jpeg">
          <br>Nhạc Hàn</a></h3>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-6 col-sm-3">
        <h3><a href="/musics?keywords=Nhật bản">
          <img class="recent-work-inner" style="height:100px;width:100px" src="/assets/music/nhac_nhat.jpeg">
          <br>Nhạc Nhật</a></h3>
      </div>
      <div class="col-xs-6 col-sm-3">
          <h3><a href="/musics?keywords=Thiếu+Nhi">
            <img class="recent-work-inner" style="height:100px;width:100px" src="/assets/music/nhac_thieu_nhi.jpeg">
            <br>Nhạc Thiếu Nhi</a></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <h3><a href="/musics?keywords=Hòa+Tấu">
          <img class="recent-work-inner" style="height:100px;width:100px" src="/assets/music/aodaivn.jpeg">
          <br>Nhạc Hòa Tấu</a></h3>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h3><a href="/musics?keywords=Nhạc+Dance">
          <img class="recent-work-inner" style="height:100px;width:100px" src="/assets/music/nhac_dance.jpg">
          <br>Nhạc Dance</a></h3>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-xs-6 col-sm-3">
        <h3><a href="/musics?keywords=Pop">
          <img class="recent-work-inner" style="height:100px;width:100px" src="/assets/music/nhac_pop.jpeg">
          <br>Nhạc Pop</a></h3>
      </div>
      <div class="col-xs-6 col-sm-3">
          <h3><a href="/musics?keywords=Rock">
            <img class="recent-work-inner" style="height:100px;width:100px" src="/assets/music/nhac_rock.jpeg">
            <br>Nhạc Rock</a></h3>
      </div>
    </div>
  </div>

  <!--  -->
  <br>
  <div class="container" style="background-color: white;">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p><h3 class="webname"><a href="javascript:void();">Video Clip</a></h3></p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div id="wrap">
          <div class="main">
            <h2>One life to live, the life is beautiful.</h2>
          </div>
          <ul id="gallery">
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/lh3V6OXBdRQ"><img title="Video Mới" src="/assets/music/video_new.jpeg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/t01Ee4xrWfI"><img title="Video Hot" src="/assets/music/video_hot.jpeg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/sBLsOkZx3fE"><img title="Vui" src="/assets/music/video_dang_vui.jpeg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/25E5RMmWH_4"><img title="Buồn" src="/assets/music/video_dang_buon.jpeg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/CllauuhA6iU"><img title="Yêu" src="/assets/music/video_dang_yeu.jpeg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/nDEmaKbhWqc"><img title="Thất tình" src="/assets/music/video_that_tinh.jpeg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/SKBEdcK6akk"><img title="Clip vui" src="/assets/music/video_clip_vui.jpeg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/_A4k2Wnt7rc"><img title="Hài kịch" src="/assets/music/video_hai_kich.jpg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/r95P5hipyPk"><img title="Mẹ" src="
            /assets/music/video_me.jpeg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/9CPMpE5UoUo"><img title="Cô đơn" src="
            /assets/music/video_co_don.png"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/r4iPzDjhlgI"><img title="Xuân" src="
            /assets/music/video_xuan.jpg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/LVuXsb2BIX4"><img title="Mưa" src="
            /assets/music/video_mua.jpeg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/Cs17OfCKZrs"><img title="Chiến tranh" src="
            /assets/music/video_chien_tranh.jpg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/9HPlWfmpxEk"><img title="Học trò" src="
            /assets/music/video_hoc_tro.jpg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/TA3QFdWjsTo"><img title="Quê hương" src="
            /assets/music/video_que_huong.jpeg"></a></li>
            <li class="loaded"><a rel="video" target="_blank" href="//www.youtube.com/embed/4RsNB_cOzgU"><img title="Tuổi thơ" src="
            /assets/music/video_tuoi_tho.jpg"></a></li>
          <ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 wow fadeInDown">
        <div class="tab-wrap">
          <div class="media">
            <div class="parrent pull-left">
              <ul class="nav nav-tabs nav-stacked">
                <li class="active"><a href="#tab1" data-toggle="tab" class="tehnical">Thông báo mới nhất</a></li>
                <li><a href="#tab2" data-toggle="tab" class="tehnical">Tin tức âm nhạc</a></li>
                <li><a href="#tab3" data-toggle="tab" class="tehnical">Thông tin liên hệ</a></li>
              </ul>
            </div>
            <div class="parrent media-body">
              <div class="tab-content">
                <div class="tab-pane fade active in" id="tab1">
                  <p>Trang web Simple sẽ ra mắt vào dịp Tết âm lịch, cung cấp các dịch vụ giải trí online với âm nhạc, chia sẽ các vấn đề cơ bản về cuộc sống như sức khỏe, học hành, vui chơi,...</p>
                </div>
                <div class="tab-pane fade" id="tab2">
                  <p>
                  "Đêm yêu thương 3" là đêm nhạc gây quỹ hỗ trợ nuôi dạy trẻ cơ nhỡ tại trung tâm mồ côi của chùa Kỳ Quang 2 do hai nghệ sĩ Lâm Đăng Huy và Thiện Minh Sơn tổ chức trong đêm ngày 5/12 vừa qua tại phòng trà ca nhạc Xuân Hương - Tp. Hồ Chí Minh.<br>
                  Được biết nghệ sĩ Lâm Đăng Huy ngoài vai trò MC, ca hát ở các sân khấu lớn và rất bận rộn khi làm giám đốc của phòng trà ca nhạc Xuân Hương. Thế nhưng, dù bận rộn nhưng với cái tâm và tình yêu thương của mình anh đã tổ chức rất nhiều chương trình gây quỹ để giúp đỡ những hoàn cảnh bất hạnh. Bên cạnh đó, Đêm Yêu Thương đã được Lâm Đăng Huy tổ chức lần thứ 3 với mong muốn góp một chút sức của mình cùng các anh chị em ca sĩ, nghệ sĩ để làm vơi đi phần nào nỗi đau của các em mồ côi trong chùa Kì Quang 2.</p>
                </div>
                <div class="tab-pane fade" id="tab3">
                  <p>Mọi đóng góp xây dựng và phát triển website, vui lòng liên hệ:
                  <br><strong>Email:</strong>simplelife@gmail.com
                  <br><strong>Phone:</strong> 84-9395979xx</p>
                </div>
              </div> <!--/.tab-content-->
            </div> <!--/.media-body-->
          </div> <!--/.media-->
        </div><!--/.tab-wrap-->
      </div><!--/.col-sm-6-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#content-->


<footer id="footer" class="midnight-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        &copy; 2014 <a target="_blank" href="#" title="Free Twitter Bootstrap">simpleLife</a>. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>

<script>
  var aud= document.getElementById('aud')
  var ml= document.getElementById('ML')
  var ind= 0
  MusicLoad(ind)
  function MusicLoad(i){
    var src = ml.options[i].value
    //alert(src);
    aud.setAttribute("src", src + '.ogg')
    aud.load()
    ind=i
    ml.selectedIndex=i
  }

  function mEnd(){
    ind=ind+1
    if (ind >= ml.length) ind = 0
     MusicLoad(ind)
 }

 function mError(){
  if (aud.error.code==4){
    aud.setAttribute("src",address+music[ind]+'.mp3')
    aud.load()
  }
}
</script>

<script type="text/javascript">
  $(document).ready(function(){
   $("#SingerSlider").carousel({
       interval : 10000,
       pause: false
   });
       $(".start-slide").click(function(){
        $("#SingerSlider").carousel('cycle');
    });

  });
</script>

