
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"></i></a></li>
                                <li><a href="#"></i></a></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="assets/logo.jpg" alt="logo"></a>
                </div>
                <div class="top-number"><p><h6>&nbsp;<a href="#">simpleLife</a>..bay cùng cuộc sống !</p></h6></div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Trang Chủ </a></li>
                        <li><a href="about-us.html"><%= link_to "Âm Nhạc", musics_path %></a></li>
                        <li><a href="services.html">Kiến Thức-Cuộc Sống</a></li>
                        <li><a href="portfolio.html">Giải Trí-Tổng Hợp</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->
    <br>
    <div class="container">
      <div class="fadeInDown">
          <audio class="col-md-4 col-sm-6 wow fadeInDown" id="aud" controls autoplay onended="mEnd()" onerror="mError()">
          </audio>
        <div class="col-sm-3 col-md-3 pull-right">
          <%= form_tag("/musics", method: "get") do %>
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Tìm kiếm nhạc.." name="keywords">
                  <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <%if @songs.present?%>
      <%- total = @songs.count
          size = total if total <=20
          size = 20 if total > 20
          song_index=1
      -%>
      <div class="container">
        <div class="fadeInDown">
          <select id="ML" name="MusicList" size=<%=size%> class="col-md-8 col-sm-8 wow fadeInDown" ondblclick="MusicLoad(ML.selectedIndex)">
            <% @songs.each do |song| %>
              <option value=<%=song.src%>>
              <%= song_index %>.<%=song.name%>|<%=song.album.present? ? song.album : "Album: Chưa biết tên" %>|<%=song.singer%></option>
              <% song_index +=1 %>
            <%end%>
          </select>
        </div>
        <div class="fadeInDown">
          <div class="col-md-4 col-sm-4">
          ĐÂY LÀ KHU VỰC QUẢNG CÁO <BR>
          ĐÂY LÀ KHU VỰC QUẢNG CÁO <BR>
          ĐÂY LÀ KHU VỰC QUẢNG CÁO <BR>
        </div>
      </div>
      <br>
      <div class="container">

      </div>
    <%end%>
    <section id="feature" >
        <div class="container">
           <div class="fadeInDown">
                <h2><a href="#">Âm Nhạc</a>   </h2>
                <p class="lead">Chẳng ngôn ngữ nào êm dịu và trầm lắng cho bằng ngôn ngữ của thi ca<br> Chẳng âm điệu nào thiết tha cho bằng cung thanh trầm của khúc nhạc...<br>Âm nhạc luôn luôn là nguồn hạnh phúc cho tất cả mọi người sống trên trái đất. Không có âm nhạc thế giới thực sự sẽ rất buồn tẻ. Có âm nhạc trong chuyển động của gió, biển, cũng như cây cối; có âm nhạc trong tiếng hót của các loài chim muông... Âm nhạc có ý nghĩa vô cùng quan trọng đối với hạnh phúc của con người. Âm nhạc xua tan đi nỗi sầu khổ của con người và rót đầy tâm tưởng chúng ta niềm vui sướng hân hoan. Bật những bài nhạc yêu thích và thực sự lắng nghe mà không làm điều gì khác, chúng ta thấy cuộc đời này thật có giá trị biết bao! (Thái Hà)</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <img class="recent-work-inner" style="height:100px" src="assets/music/music_icon.jpeg">
                            <h2><a href="/musics?utf8=✓&keywords=Nhạc+Trẻ">Nhạc Trẻ</a></h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <img class="recent-work-inner" style="height:100px" src="assets/music/music_icon.jpeg">
                            <h2><a href="/musics?utf8=✓&keywords=Quê+Hương">Nhạc Quê Hương</a></h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <img class="recent-work-inner" style="height:100px" src="assets/music/music_icon.jpeg">
                            <h2><a href="/musics?utf8=✓&keywords=Trữ+Tình">Nhạc Trữ Tình</a></h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <img class="recent-work-inner" style="height:100px" src="assets/music/music_icon.jpeg">
                            <h2><a href="/musics?utf8=✓&keywords=Âu+Mỹ">Nhạc Âu Mỹ</a></h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <img class="recent-work-inner" style="height:100px" src="assets/music/music_icon.jpeg">
                            <h2><a href="/musics?utf8=✓&keywords=Nhạc+Hoa">Nhạc Hoa</a></h2>
                           <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <img class="recent-work-inner" style="height:100px" src="assets/music/music_icon.jpeg">
                            <h2><a href="/musics?utf8=✓&keywords=Hàn+Quốc">Nhạc Hàn</a></h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <img class="recent-work-inner" style="height:100px" src="assets/music/music_icon.jpeg">
                            <h2><a href="/musics?utf8=✓&keywords=Nhat+ban">Nhạc Nhật</a></h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <img class="recent-work-inner" style="height:100px" src="assets/music/music_icon.jpeg">
                            <h2><a href="/musics?utf8=✓&keywords=Thiếu+Nhi">Nhạc Thiếu Nhi</a></h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                           <img class="recent-work-inner" style="height:100px" src="assets/music/music_icon.jpeg">
                            <h2><a href="/musics?utf8=✓&keywords=Hòa+Tấu">Nhạc Hòa Tấu</a></h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <img class="recent-work-inner" style="height:100px" src="assets/music/music_icon.jpeg">
                            <h2><a href="/musics?utf8=✓&keywords=Nhạc+Dance">Nhạc Dance</a></h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <img class="recent-work-inner" style="height:100px" src="assets/music/music_icon.jpeg">
                            <h2><a href="/musics?utf8=✓&keywords=Pop">Nhạc Pop</a></h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <img class="recent-work-inner" style="height:100px" src="assets/music/music_icon.jpeg">
                            <h2><a href="/musics?utf8=✓&keywords=Rock">Nhạc Rock</a></h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 wow fadeInDown">
                   <div class="tab-wrap">
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class="active"><a href="#tab3" data-toggle="tab" class="tehnical">Thông báo mới nhất</a></li>
                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">Thành viên tích cực nhất</a></li>
                                    <li class=""><a href="#tab2" data-toggle="tab" class="analistic-02">Thành viên mới nhất</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="assets/tab2.png">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Thông tin</h2>
                                                 <p>Thông tinThông tinThông tinThông tinThông tinThông tinThông tinThông tin</p>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane fade" id="tab2">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="assets/tab1.png">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Thông tin</h2>
                                                 <p>Thông tinThông tinThông tinThông tinThông tinThông tinThông tinThông tinThông tinThông tinThông tinThông tinThông tinThông tinThông tinThông tinThông tinThông tin.
                                                 </p>
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade active in" id="tab3">
                                        <p>Thông báo mới nhấtThông báo mới nhấtThông báo mới nhấtThông báo mới nhấtThông báo mới nhấtThông báo mới nhấtThông báo mới nhấtThông báo mới nhấtThông báo mới nhấtThông báo mới nhấtThông báo mới nhấtThông báo mới nhấtThông báo mới nhấtThông báo mới nhấtThông báo mới nhất.</p>
                                     </div>
                                </div> <!--/.tab-content-->
                            </div> <!--/.media-body-->
                        </div> <!--/.media-->
                    </div><!--/.tab-wrap-->
                </div><!--/.col-sm-6-->

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->

    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="top-number">
                            <h4>Business contact: <a href="#">0939.597.920</a> Mr.Thanh</h4>
                            <p><h4>Những góp ý, xây dựng, phát triển website: <a href="#">simpleLife@gmail.com</a></h4></p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/#conatcat-info-->

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="widget">
                        <h3>ÂM NHẠC</h3>
                        <ul>
                            <li><a href="#">Nhạc Trẻ</a></li>
                            <li><a href="#">Nhạc Quê Hương</a></li>
                            <li><a href="#">Nhạc Trữ Tình</a></li>
                            <li><a href="#">Nhạc Âu Mỹ</a></li>
                            <li><a href="#">Nhạc Hoa</a></li>
                            <li><a href="#">Nhạc Hàn</a></li>
                            <li><a href="#">Nhạc Dance</a></li>
                            <li><a href="#">Nhạc Hòa Tấu</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-4 col-sm-6">
                    <div class="widget">
                        <h3>Thư Giãn Online</h3>
                        <ul>
                            <li><a href="#">Game Mini</a></li>
                            <li><a href="#">Handmade</a></li>
                            <li><a href="#">Đọc Truyện</a></li>
                            <li><a href="#">Đố Vui</a></li>
                            <li><a href="#">Ảnh Đẹp</a></li>
                            <li><a href="#">Du Lịch</a></li>
                            <li><a href="#">Ẩm Thực</a></li>
                            <li><a href="#">Thể Thao</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-4 col-sm-6">
                    <div class="widget">
                        <h3>Kiến Thức Và Cuộc Sống</h3>
                        <ul>
                            <li><a href="#">CLB Tiếng Anh</a></li>
                            <li><a href="#">CLB Tiếng Nhật</a></li>
                            <li><a href="#">CLB Thơ, Văn</a></li>
                            <li><a href="#">Sức Khỏe Của Bạn</a></li>
                            <li><a href="#">Bệnh Viện Máy Tính</a></li>
                            <li><a href="#">Mua Bán, Quảng Cáo</a></li>
                            <li><a href="#">Thông tin simpleLife</a></li>
                            <li><a href="#">Điều khoản sử dụng</a></li>

                        </ul>
                    </div>
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    &copy; 2014 <a target="_blank" href="#" title="Free Twitter Bootstrap">simpleLife</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Trang Chủ</a></li>
                        <li><a href="#">Âm Nhạc</a></li>
                        <li><a href="#">Kiến Thức-Cuộc Sống</a></li>
                        <li><a href="#">Giải Trí-Tổng Hợp</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
<script>
  var aud= document.getElementById('aud')
  var ml= document.getElementById('ML')
  var ind= 0
  MusicLoad(ind)
  function MusicLoad(i){
    var src = ml.options[i].value
    aud.setAttribute("src",src + '.ogg')
    aud.load()
    ind=i
    ml.selectedIndex=i
  }

  function mEnd(){
    ind=ind+1
    if (ind >= ml.length) ind=0
     MusicLoad(ind)
 }

 function mError(){
  if (aud.error.code==4){
    aud.setAttribute("src",address+music[ind]+'.mp3')
    aud.load()
  }
}
</script>